/* Pie Chart Container */
.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pie-chart {
  width: 100%;
  max-width: 250px;  /* Max width for responsiveness */
  height: auto;
}
